{
"text": "Status Update",
"blocks": [
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "@{{slack_user}}, stig report generated and can be reviewed at:"
        }
    },
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text":
"
:pencil2: <https://s3.amazonaws.com/stig-report.redhatgov.io/{{ report_name | default('oscap-report') }}.html|Report>
"
        }
    }
]
}